
img {
   width: 40px;
  border: solid;
  }

.flags {
  width : 100px;
  border : 1px dotted red;
}

li{
text-decoration: underline;
}


#mia {
  background-color: aqua;
}

.mex {
  padding: 5px;
  border-radius: 30%;
}

ol li {
  color: magenta;
}

#Top5 li {
  text-transform: uppercase;
}

table {
  border: 5px double violet;
}

thead {
  background-color: blue;
}

th {
  color: white;
}
